Diagnostics:
  UnusedIncludes: None

Index:
  Background: Build

---
If:
  PathMatch: (.*\/)?DLSlime/.*\.(c|cc|cpp|cxx|h|hh|hpp|hxx)$
CompileFlags:
  CompilationDatabase: DLSlime/build

---
If:
  PathMatch: (.*\/)?nanodeploy/.*\.(c|cc|cpp|cxx|h|hh|hpp|hxx)$
CompileFlags:
  CompilationDatabase: nanodeploy/build
  Add:
    - -Inanodeploy
    - -INanoCommon/include
    - -Inanodeploy/build/nanodeploy/csrc/sequence

---
CompileFlags:
  Add:
    - -std=c++20
