CompileFlags:
  Add:
    # Add NanoCommon include path
    - "-I/mnt/nvme1n1/ml_research/majinming/src/NanoInfra/NanoCommon/include"
    # Add NanoSequence include path
    - "-I/mnt/nvme1n1/ml_research/majinming/src/NanoInfra/NanoSequence"
    # Add NanoDeploy include path
    - "-I/mnt/nvme1n1/ml_research/majinming/src/NanoInfra/NanoDeploy"
    # Standard C++20
    - "-std=c++20"
  CompilationDatabase: NanoDeploy/build

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: Strict

Index:
  Background: Build
