CompileFlags:
  Add:
    - -I/mnt/nvme1n1/ml_research/majinming/src/NanoInfra/NanoCommon/include
    - -I/mnt/nvme1n1/ml_research/majinming/src/NanoInfra/NanoDeploy
    - -I/mnt/nvme1n1/ml_research/majinming/src/NanoInfra/NanoDeploy/build/nanodeploy/csrc/sequence

Diagnostics:
  UnusedIncludes: None

Index:
  Background: Build

---
If:
  PathMatch: (.*\/)?DLSlime/.*\.(c|cc|cpp|cxx|h|hh|hpp|hxx)$
CompileFlags:
  CompilationDatabase: DLSlime/build

---
If:
  PathMatch: (.*\/)?NanoCCL/.*\.(c|cc|cpp|cxx|h|hh|hpp|hxx)$
CompileFlags:
  CompilationDatabase: NanoCCL/build

---
If:
  PathMatch: (.*\/)?NanoDeploy/.*\.(c|cc|cpp|cxx|h|hh|hpp|hxx)$
CompileFlags:
  CompilationDatabase: NanoDeploy/build
  Add:
    - -I/mnt/nvme1n1/ml_research/majinming/src/NanoInfra/NanoDeploy
    - -I/mnt/nvme1n1/ml_research/majinming/src/NanoInfra/NanoCommon/include
    - -I/mnt/nvme1n1/ml_research/majinming/src/NanoInfra/NanoDeploy/build/nanodeploy/csrc/sequence

---
CompileFlags:
  Add:
    - -std=c++17
