.git
.codex
.claude
.vscode
.pytest_cache
.ruff_cache
.mypy_cache
profiler_res*
**/__pycache__
**/*.pyc
**/*.pyo
**/*.so
**/*.egg-info
**/build
**/dist
**/target
**/.cargo
**/.rustup
**/Cargo.toml.orig
**/Cargo.lock.orig
**/*.rlib
**/*.rmeta
**/*.dSYM
*.log
*.tmp
docker
